<div class="pageone-card">
  <div class="row">
      <div class="col-9"><div class="My_Entities">My Entities</div></div>
      <div class="col-1 Entity_Registration"><div class="outer-Entity_Registration">Entity Registration</div></div>
  </div>
  </div>
  <div class="row m_column1" >
       
    <!-- <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading1">
                           
                              <div class="row">
                                <div class="col-10"><div class="pan_card">PAN Number</div></div> 
                              <span class="col-6"> 
                                <a role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">       
                                </a>
                              </span>
                              
                            </div>
                         
            </div>  
            <div id="collapse1" class="collapse " role="tabpanel" aria-labelledby="heading1">
              <div class="panel-body">
                <table>
                  <thead >
                  <th></th>
                <th><div class=" GSTN" >GSTN</div></th>
                <th><div class=" State">State </div></th>
                <th><div class=" UNI_ID">UNI ID </div></th>
                <th><div class=" Status">Status </div></th>
                <th><div class=" Form_Link">Form Link </div></th>
                <th><div class=" BR_Doc_Status">BR Doc Status</div></th>
                </thead>
                <tbody >
               
                <td class="data-enter"><div class="sr_no_column">1.</div></td>
                <td class="data-enter"><div class="GSTN_column">37AADCS0472N1Z1</div></td>
                <td class="data-enter"><div class="State_column">Maharashtra</div></td>
                <td class="data-enter"> <div class="UNI_ID_column">MHDCS0472N1Z01</div></td>
                <td class="data-enter"><div class="Status_column">Inactive</div></td>
                <td class="data-enter"><div class="Form_Link_column">Link</div></td>
              
                <td class="Confirmed-BR-Doc_Status_column "><div class="BR_Doc_Status_column">Confirmed</div></td>
              
           </tbody>
          </table>     
         
        </div>
      </div>
    </div>        -->
  </div> 
  
   



 <div>
  <div class=" " id="accordionfaqs">
      <div class="row" >
          <div class="col-10 pan-card-header" id="headingq1">
              <div class="row">
                  <div class="col-9 pan_card">
                    PAN Number
                  </div>
                  <div class="col-1" >
                  <div class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseq1" aria-expanded="true" aria-controls="collapseq1">
                    <i class="fa fa-chevron-up fa-2x arrow_up" aria-hidden="true"></i>
                    <i class="fa fa-chevron-down fa-2x arrow_down" aria-hidden="true"></i>
                  </div>
              </div>
            </div>
          </div>
          
              
          
          <div id="collapseq1" class="col-12 ques_para collapse" aria-labelledby="headingq1" data-bs-parent="#accordionfaqs">
            <table class="col-10 ">
              <thead >
              <th></th>
            <th><div class=" GSTN" >GSTN</div></th>
            <th><div class=" State">State </div></th>
            <th><div class=" UNI_ID">UNI ID </div></th>
            <th><div class=" Status">Status </div></th>
            <th><div class=" Form_Link">Form Link </div></th>
            <th><div class=" BR_Doc_Status">BR Doc Status</div></th>
            </thead>
            <tbody >
           
            <td class="data-enter"><div class="sr_no_column">1.</div></td>
          
            <td class="data-enter"><div class="GSTN_column">37AADCS0472N1Z1</div></td>
          
            
            <td class="data-enter"><div class="State_column">Maharashtra</div></td>
          
            
            <td class="data-enter"> <div class="UNI_ID_column">MHDCS0472N1Z01</div></td>
          
            
            <td class="data-enter"><div class="Status_column">Inactive</div></td>
              <span class="link-outer">
            <td class="data-enter-form-link"><div class="Form_Link_column">Link</div></td>
          </span>
            <td class="Confirmed-BR-Doc_Status_column "><div class="BR_Doc_Status_column">Confirmed</div></td>
          
       </tbody>
      </table>     

          </div>
      </div>
      

</div>






            










          
          






 