<section class="container-fluid alluserdetails">
    <div class="market-place">
        Market Place
    </div>
    <div class="col-6 studio-rental-brand">
        <img class="image-fluid brand-img-large" src="/assets/images/studio_rental/Studio_Rentals-Brand.png">
        <img class="image-fluid brand-img-responsive" src="/assets/images/studio_rental/Studio_Rentals_Brand-resp.png">
    </div>
    <div class="row class-row">
        <div class="col-md-3 col-6">
            <div class="image-1">
                <img style="width: 100%; height: 100%;" src="/assets/images/studio_rental/Studio-Rentalz-Landing-Page-Image-1.png">
            </div>
            <div class="signi-about">
                <a class="signi-about-a" routerLink="/significance">Significance</a>
                <span>
                    <a class="signi-about-a" routerLink="/aboutus">About Us</a>
                </span>
            </div>
        </div>
        <div class="col-4 image-2">
            <img style="width: 100%; height: 100%;" class="big-image" src="/assets/images/studio_rental/Studio-Rentalz-Landing-Page-Image-2.png">
        </div>
        <div class="col-1 image-dark">
            <img src="/assets/images/studio_rental/Studio-Rentalz-Landing-Page-Image-3.png">
        </div>

        <div class="col-md-4 col-6 image-3">
            <div style=" display: flex;">
                <div class="div-para">
                    One doesn’t take a photograph. He creates it.
                    <p class="para">An artist sees the world differently. He uses photography as his means of 
                        creative expression. At Studio Rentals, give life to your products and services. 
                        You may select your choice of photographer, location and other supporting equipment at 
                        this market place with just a few clicks.
                    </p>
                </div>
                <img class="image-3-img" style="width: 100%;height: auto;overflow: hidden;" src="/assets/images/studio_rental/Studio-Rentalz-Landing-Page-Image-4h.png">
                
            </div>
            <div class="get-start">
                <a class="img-getstart" routerLink="/login"><img class="back-arrow" src="/assets/images/studio_rental/back-arrow.png">
                <span>Get Started</span ></a>
            </div>
        </div>
    </div>

</section>
<!-- <section class="container-fluid alluserdetails">
    <div class=" ads">
        <div class="col-12 studio-rental-brand text-left">
            <img class="image-fluid brand-img-large" src="/assets/images/studio_rental/Studio_Rentals-Brand.png">
            <img class="image-fluid brand-img-responsive" src="/assets/images/studio_rental/Studio_Rentals_Brand-resp.png">
        </div>
        <input style="display: none;" class="input-radio" type="radio" name="slider" id="item-1" checked>
        <input style="display: none;" class="input-radio" type="radio" name="slider" id="item-2">
        <input style="display: none;" class="input-radio" type="radio" name="slider" id="item-3">
        <input style="display: none;" class="input-radio" type="radio" name="slider" id="item-4">
        <input style="display: none;" class="input-radio" type="radio" name="slider" id="item-5">
        <div class="qqq">Market Place</div>
        <div class="row cards">
            <label class="card package-card" for="item-1" id="song-1">
                <img class="image-show" id="image-show1" src="/assets/images/studio_rental/Photo-1.jpg">
                <div class="ssd" id="ssd-1">
                    <div class="div-para" >
                        One doesn’t take a photograph. He creates it.
                        <p class="para">An artist sees the world differently. He uses photography as his means of 
                            creative expression. At Studio Rentals, give life to your products and services. 
                            You may select your choice of photographer, location and other supporting equipment at 
                            this market place with just a few clicks.
                        </p>
                    </div>
                </div>
            </label>
            <label class="card package-card" for="item-2" id="song-2">
                <img class="image-show" id="image-show2" src="/assets/images/studio_rental/Photo-2.jpg">
            </label>
            <label class="card package-card" for="item-3" id="song-3">
                <img class="image-show" id="image-show3" src="/assets/images/studio_rental/Photo-3.jpg">
            </label>
            <label class="card package-card" for="item-4" id="song-4">
                <img class="image-show" id="image-show4" src="/assets/images/studio_rental/Photo-4.jpg">
                <div class="ssd" id="ssd-4">
                    <div class="div-para">
                        4
                        <p class="para">An artist sees the world differently. He uses photography as his means of 
                            creative expression. At Studio Rentals, give life to your products and services. 
                            You may select your choice of photographer, location and other supporting equipment at 
                            this market place with just a few clicks.
                        </p>
                    </div>
                </div> 
            </label>
            <label class="card package-card" for="item-5" id="song-5">
                <img class="image-show" id="image-show5" src="/assets/images/studio_rental/Photo-5.jpg">
                <!-- <div class="ssd" id="ssd-5">
                    <div class="div-para">
                        5
                        <p class="para">An artist sees the world differently. He uses photography as his means of 
                            creative expression. At Studio Rentals, give life to your products and services. 
                            You may select your choice of photographer, location and other supporting equipment at 
                            this market place with just a few clicks.
                        </p>
                    </div>
                </div> 
            </label>
        </div>
        <div class="significance">
            <div class="signi-about">
                <a class="signi-about-a" routerLink="/significance">Significance</a>
                <span>
                    <a class="signi-about-a" routerLink="/aboutus">About Us</a>
                </span>
            </div>
        </div>
        <div class="get-to-login">
            <div class="get-start">
                <a class="img-getstart" routerLink="/login"><img class="back-arrow" src="/assets/images/studio_rental/back-arrow.png">
                <span>Get Started</span ></a>
            </div>
        </div>

        
    </div>
</section> -->
