<div class="col-8  pageone-card">
<div class=" Hello_User_Name">Hello *User Name*,</div>
<div class=" Hello_User_Name2">It’s a new day, start onboarding vendors safely and easily!</div>



<!-- bbbbbbbbbb -->
<span class="row  row-Recent-Requests">
    <span class="col-12 ">
      <div class="row Recent-Requests">
    <span class="col-6 col-View-Subscription-Plans">
        <div class="Recent_Requests_Sent">Recent Requests Sent</div>
        <div class="active-subscription_view-data">You need an active subscription to view data here.</div>
        <div class="col-5 View-Subscription-Plans">View Subscription Plans</div>
    </span>
    <span class="col-6 col-View-Subscription-Plans">
        <div class="Recent_Requests_Received">Recent Requests Received</div> 
        <div class="active-subscription_view-data">You need an active subscription to view data here.</div>
        <div class="col-5 View-Subscription-Plans">View Subscription Plans</div>
 </span>
    </div>
  
    </span>
</span>



<div class="col-4 upper-registration ">
  
        <div class="My-Recent-Entities">My Recent Entities</div>
        <div class="col-9 you-need-Registration">You need to register entity to view data here.</div>
        <div class="you-need-Registration">Register your entity now!</div>
        <div class="upper-Entity-Registration">
        <div class="Entity-Registration" type="button">
            Entity Registration
        </div></div>
    
  </div>
   
</div>
