<section class="container-fluid alluserdetails">
    <div class="market-place">
        About Us
    </div>
    <div class="col-6 studio-rental-brand">
        <img class="image-fluid brand-img-large" src="/assets/images/studio_rental/Studio_Rentals-Brand.png">
        <img class="image-fluid brand-img-responsive" src="/assets/images/studio_rental/Studio_Rentals_Brand-resp.png">
    </div>
    <div class="row class-row">
        <div class="col-md-7 col-12">
            <h1 class="about-us">About Us</h1>
            <p class="about-us-p">
                Studio Rentals – A Product of Cast India, is a roof where an artist can connect with clients for 
                new projects and build a good relationship with them. It is a market place for clients as 
                well as artists to give birth to one’s imagination for their products and services. 
                Here you can choose your supporting requirements with just a few clicks.
            </p>
            <p class="about-us-p">
                Get a chance to build your team from diverse list of passionate professionals like 
                Cinematographers, Photographers, Writers, Models, Make-up Artists, Costume Designers, 
                Audio-Visual Artist etc. Also, it is a one stop avenue for choicest of equipment and props 
                required for your project.
            </p>
            <p class="about-us-p">
                Now start with a bang and grow rapidly! Get your projects done with radiance and vigor with us!
            </p>
        </div>
        <div class="col-5 about-img">
            <img class="img-fluid image-aboutus" src="/assets/images/studio_rental/Studio-Rentalz-Landing-aboutus.png">
        </div>
        <div class="col-12 about-img-hori">
            <img class="img-fluid image-aboutus-hori" src="/assets/images/studio_rental/Studio-Rentalz-Landing-hori.png">
        </div>
        <div class="col-12">
            <div class="get-start">
                <a class="img-getstart" routerLink="/"><img class="back-arrow" src="/assets/images/studio_rental/back-arrow.png">
                <span>Back</span ></a>
            </div>
        </div>
    </div>
</section>

