

<h1 class="m_heading1">Our unique features come with the best of services!</h1>
<h2 class="m_heading1">Choicest plans according to your necessity, enjoy privileges likes never before</h2>
<div class="box-shadow wallexp">
  <ul style="justify-content: center;" class=" nav border-none">
      <li class=" steps1">
          <a data-bs-toggle="tab" href="#menu2" class="wallet active">
               Aspirant
          </a>
      </li>
      <li class="steps2" style="padding-left: 40px;">
          <a class="expenditure" data-bs-toggle="tab" href="#menu1">
              Employer
          </a>
      </li>
  </ul>
</div> 

   <div  class="tab-content">
    <div  id="menu2" class="tab-pane active">
       
    
<h3 class="m_heading3 "><b>All plans included</b></h3>
<!-- page1_1 start -->
<div class="" id="accordionfaqs">
  <div class="row">
      <div class="col-12 card_mview" id="headingq1">
        <div class="  m_col1" >
          <div class="m_card1"> 
          <div class="Business-Basic"><b >Basic</b></div>
            <div class=" m_c_card">
          <div class="row">
              <span class="col-8 ques_accordion">
               <b class="center-price"> 0/-</b>
              </span>
             
                <span class="col-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1_1" aria-expanded="true" aria-controls="collapse1_1">
                    <i><img src="assets/arrow_menu.png" aria-hidden="true" class="arrow_menu"></i>
                    <i><img src="assets/arrow_down.png" aria-hidden="true" class="arrow_down"></i>
                </span>
             
          </div>
      </div>
      <div class="m_lifetime1">per month</div>
    </div>
</div> 
</div>
<div id="collapse1_1" class="collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
  <div class="panel-body">

        <div class=" m_row2 row row1"><div  class="col-9 "><span > <img src="/assets/noun_Check Mark_6156.png" ></span><span style="  padding-left: 1rem;"><span class="  m_gray">Employer registration</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""> </div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Employer Verification</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Job Box </span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">ProDex </span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Schedule Manager</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Pay Protect Plan</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">CI Ranking</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">BuCalc</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Project Management System</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray"> Integrated User Panel</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray"> Showcase</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Wallet</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class="btn-signup">
<div style="text-align: center;"><button  class="m_btn"><img src="/assets/Signup _free.png"></button></div>
</div>
</div>
</div>
</div>
</div>
<!-- page1_1 end -->


    
<div class="col-12 m_centercontainer  ">
  <div class=" row m_A1">
    <div class="col m_col3">
      <div class="row m_A2 ">
<div class="row membership-year">
  <div class="col membership-year-content">
      <div class="m_monthly"><b>Monthly</b></div>
      <div class="facheckcircle">
        <a class="ma" (click) = "subscription1()">
          <!-- <i class="fa fa-check-circle"></i> -->
          <img class="pack-uncheck1 mt-4" src="/assets/Ellipse  dot1.png">
          <img class="pack-check1 mt-4" src="/assets/checked (3).png">
        </a>
      </div>
  </div>
  <div class="col membership-year-content">
      <div class="m_annually"><b>Annual</b></div>
      <div class="col-12 m_annual_paid_monthly">Paid-Monthly</div>
      <div class="facircle">
        <a class="ma" (click) = "subscription2()">
          <!-- <i class="fa fa-circle"></i> -->
          <img class="pack-uncheck2 " src="/assets/Ellipse  dot1.png">
          <img class="pack-check2 " src="/assets/checked (3).png">
        </a>
      </div>
  </div>
  <div class="col membership-year-content">
      <div class="m_annually"><b>Annual</b></div>
      <div class="facircle1">
        <a class="ma" (click) = "subscription3()">
          <!-- <i class="fa fa-circle"></i> -->
          <img class="pack-uncheck3 mt-4" src="/assets/Ellipse  dot1.png">
          <img class="pack-check3 mt-4" src="/assets/checked (3).png">
        </a>
      </div>
  </div>
</div>
</div>
</div>
</div>
</div>
 <!-- page1_2 start -->
 <div class="" id="accordionfaqs">
  <div class="row">
      <div class="col-12 card_mview" id="headingq1">
        <div class="  m_col1" >
          <div class="m_card1"> 
          <div class="Business-Basic"><b>Basic +</b></div>
            <div class=" m_c_card">
          <div class="row">
              <span class="col-8 ques_accordion">
               <b class="center-price"> 79/-</b>
              </span>
             
                <span class="col-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2_2" aria-expanded="true" aria-controls="collapse2_2">
                    <i><img src="assets/arrow_menu.png" aria-hidden="true" class="arrow_menu"></i>
                    <i><img src="assets/arrow_down.png" aria-hidden="true" class="arrow_down"></i>
                </span>
              
          </div>
      </div>
      <div class="m_lifetime1">per month</div>
    </div>
</div> 
</div>
<div id="collapse2_2" class="collapse" aria-labelledby="heading2_2" data-bs-parent="#accordionExample">
  <div class="panel-body">         
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Legal Helpdesk</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Finance Assistance</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
        <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Identity Check</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Survey</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Rental</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Studio</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
<div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Virtual Planner</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class="btn-signup">
<div style="text-align: center;"><button  class="m_btn"><img src="/assets/Signup _free.png"></button></div>
</div>
</div>
</div>
</div>
</div>
<div class="most-popular"><b>Most Popular</b></div>
<!-- page1_2 end -->
  <!-- page1_3 start -->

      <!-- <div class="most-popular"><b></b></div> -->
      <div class="" id="accordionfaqs">
        <div class="row">
            <div class="col-12 card_mview" id="headingq1">
              <div class="  m_col1" >
                <div class="m_card1"> 
                <div class="Business-Basic"><b>Pro</b></div>
                  <div class=" m_c_card">
                <div class="row">
                    <span class="col-8 ques_accordion">
                     <b class="center-price"> 299/-</b>
                    </span>
                  
                      <span class="col-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3_3" aria-expanded="true" aria-controls="collapse3_3">
                          <i><img src="assets/arrow_menu.png" aria-hidden="true" class="arrow_menu"></i>
                          <i><img src="assets/arrow_down.png" aria-hidden="true" class="arrow_down"></i>
                      </span>
                    
                </div>
            </div>
            <div class="m_lifetime1">per month</div>
          </div>
      </div> 
      </div>     
             
 <div id="collapse3_3" class="collapse " aria-labelledby="heading3_3" data-bs-parent="#accordionExample">
 <div class="panel-body">
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Legal Helpdesk </span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Finance Assistance </span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Finance Assistance </span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Identity Check </span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Identity Check</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Rental</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Studio</span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Virtual Planner   </span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Brand Management   </span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Legal Solutions & Management </span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Virtual Services & Resource Management </span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Virtual Services & Resource Management </span> </span></div><span class="col-3">
  <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
    <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class="btn-signup">
 <div style="text-align: center;"><button  class="m_btn"><img src="/assets/Signup _free.png"></button></div>
</div>
</div>
</div>
</div>
</div>

<!-- pagge1_3 end -->

<!-- pagge1_4 start -->


<div class="" id="accordionfaqs">
  <div class="row">
      <div class="col-12 card_mview" id="headingq1">
        <div class="  m_col1" >
          <div class="m_card1"> 
          <div class="Business-Basic"><b>Pro +</b></div>
            <div class=" m_c_card">
          <div class="row">
              <span class="col-8 ques_accordion">
                <b class="center-price">799/-</b>
              </span>
              
                <span class="col-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4_4" aria-expanded="true" aria-controls="collapse4_4">
                    <i><img src="assets/arrow_menu.png" aria-hidden="true" class="arrow_menu"></i>
                    <i><img src="assets/arrow_down.png" aria-hidden="true" class="arrow_down"></i>
                </span>
              
          </div>
      </div>
      <div class="m_lifetime1">per month</div>
    </div>
</div> 
</div>                     
  
         
                 <div id="collapse4_4" class="collapse " role="tabpanel" aria-labelledby="heading4_4">
                  <div class="panel-body">
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Legal Helpdesk </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Finance Assistance </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Finance Assistance </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Identity Check </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Identity Check</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Rental</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Studio</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Virtual Planner   </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Brand Management   </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Legal Solutions & Management </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Virtual Services & Resource Management </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Virtual Services & Resource Management </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class="btn-signup">

    <div style="text-align: center;"><button  class="m_btn"><img src="/assets/Signup _free.png"></button></div>
</div>
  </div>
</div>
</div> 
</div>
<!-- pagge1_4 end -->
       <!-- card1 -->                      
 <h3 class="heading3">Interested in the feature and don't want the whole subscription? No worries! Buy your favourite features separately.</h3>
 

 <div class="row m_rowbottom">
 <div class="col-12 m_card7_outer" >
 <div class="card m_card7 ">
   <div class="m_crd" style="text-align: start;">Schedule Manager</div>
   <div class="m_bh1">Organize your daily activities and never miss another appointment and schedule. </div>
  <div class="row">
    <div class="col-8">
   <span class=" m_prc">Price: 199/- </span><span class="col-4 m_paymnt"> per month</span>
   </div>
   <div class="col-4 m_btn2"> Buy now</div>
</div>
 </div>
 </div>
 <div class="col-12 m_card7_outer">
 <div class="card m_card7 ">
   <div class="m_crd">Earning Analysis</div>
   <div class="m_bh1">Know your strengths and what is more profiting for you. </div>
   <div class="row">
    <div class="col-8">
   <span class=" m_prc">Price: 39/- </span><span class="col-4 m_paymnt"> per month</span>
   </div>
   <div class="col-4 m_btn2"> Buy now</div>
</div>
 </div>
 </div>
 <div class="col-12 m_card7_outer">
 <div class="card m_card7 ">
   <div class="m_crd" style="text-align: start;">Training Hub</div>
   <div class="m_bh1">Access different workshops, trainings and educational short-term coaching and free uploaded videos. </div>
   <div class="row">
    <div class="col-8">
   <span class=" m_prc">Price: 39/- </span><span class="col-4 m_paymnt"> per month</span>
   </div>
   <div class="col-4 m_btn2"> Buy now</div>
</div>
 </div>
 </div>
 <div class="col-12 m_card7_outer">
 <div class="card m_card7 ">
   <div class="m_crd" style="text-align: start;">Legal Helpdesk</div>
   <div class="m_bh1">All the essential advice and assistance you require in legal matters.</div>
   <div class="row">
    <div class="col-8">
   <span class=" m_prc">Price: 5999/-  </span><span class="col-4 m_paymnt"> per month</span>
   </div>
   <div class="col-4 m_btn2"> Buy now</div>
</div>
 </div>
 </div>


 </div>
 <div class="" id="accordionfaqs">
  <div class="row row-double-arrow-down" >
      
      <div class="col-1" >
          <div class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2_2_2" aria-expanded="true" aria-controls="collapse2_2_2">
              <!-- <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
              <i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i> -->
              <img src="assets/double-arrow-down.png" class="double-arrow-down">
          </div>
     </div>
      <div id="collapse2_2_2" class="col-12 card-double-arrow-down collapse" aria-labelledby="headingq1" data-bs-parent="#accordionfaqs">
        <div class="col-12 m_card7_outer">
          <div class="card m_card7 ">
            <div class="m_crd" style="text-align: start;">Portfolio Builder</div>
            <div class="m_bh1">Create your own portfolio, and stand a chance for more opportunities. </div>
            <div class="row">
              <div class="col-8">
             <span class=" m_prc">Price: 2999/-  </span><span class="col-4 m_paymnt"> per month</span>
             </div>
             <div class="col-4 m_btn2"> Buy now</div>
          </div>
          </div>
          </div>
          <div class="col-12 m_card7_outer">
              <div class="card m_card7 ">
                <div class="m_crd" style="text-align: start;">Ask The Employer</div>
                <div class="m_bh1">Get in touch with the employers over your queries and project related talks.</div>
                <div class="row">
                  <div class="col-8">
                 <span class=" m_prc">Price: 2999/-  </span><span class="col-4 m_paymnt"> per month</span>
                 </div>
                 <div class="col-4 m_btn2"> Buy now</div>
              </div>
              </div>
              </div>


      </div>
  </div>





 
 <!-- </div> -->
 <!-- card1 end -->     
  
</div>
</div>


<!-- -------------------------------employer--------------------- -->




    
  <div id="menu1" class="tab-pane">


        <h3 class="m_heading3 ">All plans included</h3>
<!-- page2 -->
<div class="" id="accordionfaqs">
  <div class="row">
      <div class="col-12 card_mview" id="headingq1">
        <div class="  m_col1" >
          <div class="m_card1"> 
          <div class="Business-Basic"><b>Business Basic</b></div>
            <div class=" m_c_card">
          <div class="row">
              <span class="col-8 ques_accordion">
                <b class="center-price">0/-</b>
              </span>
              
                <span class="col-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapseq1">
                    <i><img src="assets/arrow_menu.png" aria-hidden="true" class="arrow_menu"></i>
                    <i><img src="assets/arrow_down.png" aria-hidden="true" class="arrow_down"></i>
                </span>
              
          </div>
      </div>
      <div class="m_lifetime1">Lifetime</div>
    </div>
</div> 
</div>
      
      <div id="collapse1" class="col-12 ques_para collapse" aria-labelledby="headingq1" data-bs-parent="#accordionfaqs">
        <div class="panel-body">
        
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Employer registration</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Employer Verification</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Job Box </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">ProDex </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Schedule Manager</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Pay Protect Plan</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">CI Ranking</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">BuCalc</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Project Management System</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray"> Integrated User Panel</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray"> Showcase</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
          <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Wallet</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class="btn-signup">

          <div style="text-align: center;"><button  class="m_btn"><img src="/assets/Signup _free.png"></button></div>
          </div>
         </div>
      </div>
  </div>
  </div>
<!-- page2 end -->

 
<div class="col-12 m_centercontainer ">
  <div class="row m_A1">
    <div class="col m_col3">
      <div class="row m_A2 ">
<div class="row membership-year">
  <div class="col membership-year-content">
      <div class="m_monthly"><b>Monthly</b></div>
      <div class="facheckcircle">
        <a class="ma" (click) = "subscription1()">
          <!-- <i class="fa fa-check-circle"></i> -->
          <img class="pack-uncheck1 mt-4" src="/assets/Ellipse  dot1.png">
          <img class="pack-check1 mt-4" src="/assets/checked (3).png">
        </a>
      </div>
  </div>
  <div class="col membership-year-content">
      <div class="m_annually"><b>Annual</b></div>
      <div class="col m_annual_paid_monthly">Paid-Monthly</div>
      <div class="facircle">
        <a class="ma" (click) = "subscription2()">
          <!-- <i class="fa fa-circle"></i> -->
          <img class="pack-uncheck2 " src="/assets/Ellipse  dot1.png">
          <img class="pack-check2 " src="/assets/checked (3).png">
        </a>
      </div>
  </div>
  <div class="col membership-year-content">
      <div class="m_annually"><b>Annual</b></div>
      <div class="facircle1">
        <a class="ma" (click) = "subscription3()">
          <!-- <i class="fa fa-circle"></i> -->
          <img class="pack-uncheck3 mt-4" src="/assets/Ellipse  dot1.png">
          <img class="pack-check3 mt-4" src="/assets/checked (3).png">
        </a>
      </div>
  </div>
</div>
</div>
</div>
</div>
</div> 
<div class="most-popular"><b>Most Popular</b></div>

  <!-- page2_2 -->
<div class="" id="accordionfaqs">
  <div class="row">
      <div class="col-12 card_mview" id="headingq1">
        <div class="  m_col1" >
          <div class="m_card1"> 
          <div class="Business-Basic"><b>Business</b></div>
            <div class=" m_c_card">
          <div class="row">
              <span class="col-8 ques_accordion">
              <b class="center-price">  299/-</b>
              </span>
            
                <span class="col-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    <i><img src="assets/arrow_menu.png" aria-hidden="true" class="arrow_menu"></i>
                    <i><img src="assets/arrow_down.png" aria-hidden="true" class="arrow_down"></i>
                </span>
             
          </div>
      </div>
      <div class="m_lifetime1">per month</div>
    </div>
</div> 
</div>
<div id="collapse2" class="col-12 ques_para collapse" aria-labelledby="headingq1" data-bs-parent="#accordionfaqs">
  <div class="panel-body">
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Legal Helpdesk</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
     <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Finance Assistance</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
     <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Identity Check</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
     <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Survey</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
     <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Rental</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
     <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Studio</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
     <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Virtual Planner</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class="btn-signup">

     <div style="text-align: center;"><button  class="m_btn"><img src="/assets/Signup _free.png"></button></div>
     </div>
   </div>
</div>
</div>
</div>
<!-- page2_2 end -->
<!-- page2_3 -->
<div class="" id="accordionfaqs">
  <div class="row">
      <div class="col-12  card_mview" id="headingq1">
        <div class="card  m_col1" >
          <div class=" m_card1"> 
          <div class="Business-Basic"><b>Business +</b></div>
            <div class=" m_c_card">
          <div class="row">
              <span class="col-8 ques_accordion">
               <b class="center-price"> 799/-</b>
              </span>
             
                <span class="col-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    <i><img src="assets/arrow_menu.png" aria-hidden="true" class="arrow_menu"></i>
                    <i><img src="assets/arrow_down.png" aria-hidden="true" class="arrow_down"></i>
                </span>
              
          </div>
      </div>
      <div class="m_lifetime1">per month</div>
    </div>
</div> 
</div>
<div id="collapse3" class="col-12 ques_para collapse" aria-labelledby="headingq1" data-bs-parent="#accordionfaqs">
  <div class="panel-body">
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Legal Helpdesk </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Finance Assistance </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Finance Assistance </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Identity Check </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Identity Check</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Rental</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Studio</span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Virtual Planner   </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Brand Management   </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Legal Solutions & Management </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Virtual Services & Resource Management </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
    <div class=" m_row2 row row1"><div  class="col-9"><span > <img src="/assets/noun_Check Mark_6156.png"></span><span style="  padding-left: 1rem;"><span class="  m_gray">Virtual Services & Resource Management </span> </span></div><span class="col-3">
      <div class=" tooltips" data-bs-toggle="tooltip" ><span class="tooltiptext">Secure your money better with the projects you take up in a much easier way</span>
        <img src="/assets/infoicon.png" class=""></div></span></div>
 <div class="btn-signup">
        
    <div style="text-align: center;"><button  class="m_btn"><img src="/assets/Signup _free.png"></button></div>
    </div>
   </div>
</div>
</div>
</div>
<!-- page2_3 end -->
   
 <!-- card2 start                        -->
 <h3 class="heading3">Interested in the feature and don't want the whole subscription? No worries! Buy your favourite features separately.</h3>

 <!-- <div class="row m_rowbottom"> -->
  <div class="row m_rowbottom">
 <div class="col-12 m_card7_outer">
     <div class="card m_card7">
       <div class="m_crd" style="text-align: start;">Legal Helpdesk</div>
       <div class="m_bh1">All the essential advice and assistance you require in legal matters.</div>
       <div class="row">
        <div class="col-8">
       <span class=" m_prc">Price: 299/-  </span><span class="col-4 m_paymnt"> per month</span>
       </div>
       <div class="col-4 m_btn2"> Buy now</div>
    </div>
     </div>
   </div>
  <div class="col-12 m_card7_outer">
     <div class="card m_card7">
       <div class="m_crd" style="text-align: start;"> Finance Assistance</div>
       <div class="m_bh1">Get the right advice in your financial queries and get reports made by experts.</div>
       <div class="row">
        <div class="col-8">
       <span class=" m_prc">Price: 499/-  </span><span class="col-4 m_paymnt"> per month</span>
       </div>
       <div class="col-4 m_btn2"> Buy now</div>
    </div>
     </div>
  </div>
  <div class="col-12 m_card7_outer">
     <div class="card m_card7">
       <div class="m_crd" style="text-align: start;">Virtual Planner</div>
       <div class="m_bh1">Get your shoots planned for you.</div>
       <div class="row">
        <div class="col-8">
       <span class=" m_prc">Price: 5999/-  </span><span class="col-4 m_paymnt"> per month</span>
       </div>
       <div class="col-4 m_btn2"> Buy now</div>
    </div>
     </div>
   </div>
   <div class="col-12 m_card7_outer">
     <div class="card m_card7 ">
       <div class="m_crd" style="text-align: start;">Identity Check</div>
       <div class="m_bh1">Get candidate identities checked on Cast India with just a simple click.</div>
       <div class="row">
        <div class="col-8">
       <span class=" m_prc">Price: 599/-  </span><span class="col-4 m_paymnt"> per month</span>
       </div>
       <div class="col-4 m_btn2"> Buy now</div>
    </div>
     </div>
     </div>
     </div>
     <div class="" id="accordionfaqs">
      <div class="row row-double-arrow-down" >
          <div class="col-1" >
              <div class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1_1_1" aria-expanded="true" aria-controls="collapse1_1_1">
                  <img src="assets/double-arrow-down.png" class="double-arrow-down">
              </div>
         </div>
          <div id="collapse1_1_1" class="col-12 card-double-arrow-down collapse" aria-labelledby="headingq1" data-bs-parent="#accordionfaqs">
            <div class="col-12 m_card7_outer">
              <div class="card m_card7 ">
                <div class="m_crd" style="text-align: start;">Brand Management  </div>
           <div class="m_bh1">Get your social media pages handled for you.</div>
           <div class="row">
            <div class="col-8">
           <span class=" m_prc">Price: 14,999/-  </span><span class="col-4 m_paymnt"> per month</span>
           </div>
           <div class="col-4 m_btn2"> Buy now</div>
        </div>
              </div>
              </div>
            
            <!-- <div class="col-12 m_card7_outer">
              <div class="card m_card7 ">
                <div class="m_crd" style="text-align: start;">Brand Management </div>
           <div class="m_bh1">Get your social media pages handled for you. </div>
            <tr><div class="m_prc">Price: 14,999/- <span class="m_paymnt">per month</span> <button class="m_btn2">Buy now</button></div></tr>

          </div>
              </div> -->
              <div class="col-12 m_card7_outer">
                  <div class="card m_card7 ">
                    <div class="m_crd" style="text-align: start;">Virtual Location Management  </div>
               <div class="m_bh1"> Let our team look for the best locations for you. You say it, we find it!</div>
               <div class="row">
                <div class="col-8">
               <span class=" m_prc">Price: 4,999/-  </span><span class="col-4 m_paymnt"> per month</span>
               </div>
               <div class="col-4 m_btn2"> Buy now</div>
            </div>
                  </div>
                  </div>
          </div>
      </div>
     <!-- </div> -->
     <!-- card1 end -->     
      
    </div>
     
   <!-- </div> -->
   <!-- card3 end -->
 
  
</div>
</div>









 