<section class="container-fluid alluserdetails">
    <div class="market-place">
        Significance
    </div>
    <div class="col-6 studio-rental-brand">
        <img class="image-fluid brand-img-large" src="/assets/images/studio_rental/Studio_Rentals-Brand.png">
        <img class="image-fluid brand-img-responsive" src="/assets/images/studio_rental/Studio_Rentals_Brand-resp.png">
    </div>
    <div class="row class-row">
        <div class="col-12 still-motion-col">
            <div class="row">
                <div class="col-md-6 col-12 image-padding">
                    <img class="img-fluid still-img1" src="/assets/images/studio_rental/significance-image-1.png">
                </div>
                <div class="col-md-6 col-12 still-motion">
                    <h5 class="still-motion-size">Still</h5>
                    <p class="still-motion-para">
                        A camera is not a client's primary requirement when it comes to capturing a product. 
                        There are numerous other requirements that must be met for a shoot. 
                        To meet these parameters, one must make numerous phone calls, visit multiple websites, 
                        and put in a lot of effort to get a location or a studio for the shoot.
                    </p>
                    <p class="still-motion-para">
                        Studio Rentals functions as a marketplace where one can get all of his needs met under 
                        one roof. Everything from hiring a photographer to sourcing the smallest of props may be 
                        procured with ease at studio rentals.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 col-12 img-show">
                    <img class="img-fluid still-img2" src="/assets/images/studio_rental/significance-image-2.png">
                </div>
                <div class="col-md-6 col-12 still-motion">
                    <h5 class="still-motion-size">Motion</h5>
                    <p class="still-motion-para">
                        It is essential to consider that videography is more than simply what you see, 
                        it is also about how you feel. If you know what you want to record, how you intend 
                        to achieve it, and what your end goals are, all you need is a cinematographer and a 
                        team to make your vision a reality.
                    </p>
                    <p class="still-motion-para">
                        Studio Rentals has all of the equipment, models, costume designers, and other 
                        services you'll need for a shoot. It serves as a marketplace, with everything 
                        available with a few simple clicks.
                    </p>
                </div>
                <div class="col-md-6 col-12 image-padding">
                    <img class="img-fluid still-img2 still-img2-show" src="/assets/images/studio_rental/significance-image-2.png">
                </div>
            </div>
            <div>
                <div class="get-start">
                    <a class="img-getstart" routerLink="/"><img class="img-fluid back-arrow" src="/assets/images/studio_rental/back-arrow.png">
                    <span>Back</span ></a>
                </div>
            </div>
        </div>
    </div>
</section>

