.login-section{
    background-image: url("/assets/images/studio_rental/login.png");
    padding: 15px;
    height: 1080px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.brand-img-large{
    display: block;
}
.brand-img-responsive{
    display: none;
}
/* .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000005E;
} */
.portfolioz{
    /* position: absolute;
    top: 15px;
    left: 35px; */
    padding: 15px;
}
.login-container{
    /* text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.login{
    color: #FFFFFF;
    font-family:  "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 45px;
}
.login-inputcol{
    max-width: 430px;
    padding-top: 30px;
}
.input-border{
    width: 100%;
    color: #FFFFFF;
    border: none;
    background: transparent;
    font-family:  "Montserrat-Regular", sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid#FFFFFF;
    border-radius: 0;
}
.input-border:focus { 
    cursor: pointer;
    color: #FFFFFF;
    outline: none;
    box-shadow: none;
    background: transparent;
}
/* .form-floating > .form-control{
    padding: 0;
    height: calc(2.5rem + 2px);
    line-height: 1.25;
} */
.input-label{
    color: #FFFFFF;
    background: transparent;
}
.continue{
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-continue{
    font-family:  "Montserrat-Regular", sans-serif;
    font-size: 16px;
    color:#000000;
    height: 46px;
    width: 414px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 3px;
    border: none;
}
.term-condition{
    color: #FFFFFF;
    font-family:  "Montserrat-Regular", sans-serif;
    font-size: 14px;
    padding-left: 16px;
}
.t-c{
    color:#D81F26;
    text-decoration: none;
}
@media (max-width: 990px){
    .portfolioz{
        position: relative;
    }
    .studio-rental-brand{
        padding-left: 10px;
    }
    .brand-img-large{
        display: none;
    }
    .brand-img-responsive{
        display: block;
    }
    .login-container{
        margin: 0;
        text-align: center;
        padding-top: 30px;
    }
    .btn-continue{
        width: 100%;
        
    }
}

.verifying{
    position: absolute;
    right: 0px;
    top: -5px;
    z-index: 9999;
    border: none;
    background: transparent;
    font-size: 18px;
    font-family:  "Montserrat-Regular", sans-serif;
    color: #EF2936;
    box-shadow: none;
}
.verifyied{
    position: absolute;
    right: 0px;
    top: -5px;
    z-index: 9999;
    border: none;
    background: transparent;
    font-size: 18px;
    font-family:  "Montserrat-Regular", sans-serif;
    color: #055f27;
    box-shadow: none;
}
.send{
    position: absolute;
    right: 0px;
    top: -5px;
    z-index: 9999;
    border: none;
    background: transparent;
    font-size: 18px;
    font-family:  "Montserrat-Regular", sans-serif;
    color: #EF2936;
    box-shadow: none;
}
.allotp{
    margin-bottom: 24px;
}
.allotp input {
    width: 28px;
    height: 30px;
    /* box-shadow: 0px 0px 6px 0px #00000029; */
    border: none;
    margin: 0px 12px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid#FFFFFF;
    border-radius: 0;
}
.form-group label {
    text-align: left;
}
.otp-text {
    text-align: center !important;
    font-size: 12px;
    width: 100%;
    color: #6D6D6D;
}
.otp-text{
    color: #FFFFFF;
    font-family:  "Montserrat-Regular", sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}
.settimer{
    color: #FFFFFF;
    font-family:  "Montserrat-Regular", sans-serif;
    font-size: 14px;
    opacity: 0.8;
}
.error-message{
    font-size: 14px;
    font-family:  "Montserrat-Regular", sans-serif;
    color: #EF2936;
}
.loader2{
    color: #EF2936;
    position: absolute;
    right: 0px;
    top: -5px;
    z-index: 9999;
    border: none;
    background: transparent;
}
.floating-form {
    padding-bottom: 5px;
  }
  
  .floating-label {
    position: relative;
    margin-bottom: 20px;
  }
  
  .floating-input,
  .floating-select {
    font-family:  "Montserrat-Regular", sans-serif;
    font-size: 20px;
    padding: 0px 4px;
    display: block;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
}
  .floating-input:focus,
  .floating-select:focus {
    outline: none;
    border-bottom: 2px solid #FFFFFF;
  }
  
  .float-label {
    color: #FFFFFF;
    position: absolute;
    pointer-events: none;
    left: 2px;
    top: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .floating-input:focus~.float-label,
  .floating-input:not(:placeholder-shown)~.float-label {
    top: -25px;
    color: #FFFFFF;
  }
  
  .floating-select:focus~.float-label,
  .floating-select:not([value=""]):valid~.float-label {
    top: -25px;
    color: #FFFFFF;
  }
  
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .floating-textarea {
    min-height: 30px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
  }