<div class="register-section">
    <div>
        <!-- <div class="overlay"></div> -->
        <!-- <img src="/assets/images/studio_rental/view-from-above.png" class="img-fluid"> -->
    </div>
    <div class="portfolioz">
        <img class="image-fluid brand-img-large" src="/assets/images/studio_rental/Studio_Rentals-Brand.png">
        <img class="image-fluid brand-img-responsive" src="/assets/images/studio_rental/Studio_Rentals_Brand-resp.png">
    </div>
    <div class="register-container">
        <div class="register">We are just wrapping up some final touches....</div>
        <button class="btn-continue" routerLink="/logout">Logout</button>
    </div>
</div>
