 <div class="card_11">
  <div class="row dropdown-right ">
    <div class="col-10">
  <div class="dropdown">Sort By
<div class="btn-group button-group button_group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></button>
  <ul class="dropdown-menu dropdown-menu-right">
  <li><a class="dropdown-item item-part1">Last 24 hours</a></li>
  <li><a class="dropdown-item item-part2">Last 3 days</a></li>
  <li><a class="dropdown-item item-part2">Last 7 days</a></li>
  <li><a class="dropdown-item item-part2">Last 30 days</a></li>
  </ul>
  </div>
  </div>
</div>
</div>
</div>
<div class="col_1">
<div class="col-9 card card_1 ">
    <div class="row  ">
  <div class="col-1">
      <img src="./assets/Digital-studio.png" >
  </div>

      <div class="col-11"> 
        <div class="row">
            <div class="col-4 Sales-Manager"><b>Sales Manager</b>
                <div class="Multi-Media-Sales-Manager">Multi-Media Sales Manager</div>
            <div class="Viacom">Viacom</div>
            <div class="pin"><img src="./assets/pin.png" ><span class="location-pune">Pune</span></div>
            </div>
            
            <div class="col-1"><img src="./assets/premium-quality.png" >  </div>
            <div class="col-2"><img src="./assets/check-box (1).png" >  </div>
            <div class="col-3 Posted"> Posted 4 days ago </div>
            <span class="col-2 "> <button  class="btn restore-button">Restore</button></span>

        </div>
        <div class="lorem_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        <hr class="hr_1">
        <div><span class="lorem_2">Skills:</span><span class="lorem_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div> 
        <div><span class="lorem_3">Softwares:</span><span class="lorem_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div> 
        
    </div>

    </div>
</div>
</div>
<div class="col_2">
<div class="col-9 card card_2">
<div class="row ">

    <div class="col-1">
        <img src="./assets/gulf-turbo.png" >
    </div>
  
        <div class="col-11"> 
          <div class="row">
              <div class="col-4 Director"><b>Director</b>
                  <div class="Accounting-Director">Accounting Director</div>
              <div class="Gulf-Turbo-Solutions">Gulf Turbo Solutions</div>
              <div ><img src="./assets/pin.png" class="pin" ><span class="location-pune">Pune</span></div>
              </div>
            <div class="col-1"><img src="./assets/premium-quality.png" >  </div>
              <div class="col-2"><img src="./assets/check-box (2).png" >  </div>
              <div class="col-3 Posted"> Posted 3 days ago </div>
            <span class="col-2 "> <button  class="btn restore-button">Restore</button></span>
              
          </div>
          <div class="lorem_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        <hr class="hr_1">
          <div><span class="lorem_2">Skills:</span><span class="lorem_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div> 
        </div>
  </div>
  </div>
</div>
<div class="col_3">
  <div class="col-9 card card_3">
  <div class="row ">

    <div class="col-1">
        <img src="./assets/Mask Group 4.png" >
    </div>
  
        <div class="col-11"> 
          <div class="row">
              <div class="col-3 Manager"><b>Manager</b> 
                  <div class="Background-Dancer">Background Dancer</div>
              <div class="Oddball">Oddball</div>
              <div class="pin"><img src="./assets/pin.png" ><span class="location-Mumbai">Mumbai</span></div>
            </div>
              
              <div class="col-2">  </div>
              <div class="col-2"><img src="./assets/check-box (1).png" >  </div>
              <div class="col-3 Posted"> Posted 2 days ago </div>
            <span class="col-2 "> <button  class="btn restore-button">Restore</button></span>
             
  
          </div>
          <div class="lorem_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
          <hr class="hr_1">
          <div><span class="lorem_2">Skills:</span><span class="lorem_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div> 
         
        </div>
  </div>
  </div>
  </div>